*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}

:root{
  --verde: green;
  --branco: white;
  --verdeHover: rgb(51, 83, 51);
  --azul: rgb(215, 228, 252);
}

header{
  background: var(--verde);
  color: var(--branco);
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a{
  color: var(--branco);
  padding: 10px 25px;
}

a:hover{
  background: var(--verdeHover);
}

.ex01{
  width: 100vw;
  height: 100vh;
  background: var(--azul);
}

h2{
  text-align: center;
  padding: 20px;
}

