:root{
  --amarelo: rgb(221, 221, 0);
  --verde-hover: rgb(8, 107, 8);
  --branco: white;
  --preto: black;
  --azulAcinzentado:#b9ddeb;
  --roxo: #191622;
  --fonteJet: 'JetBrains Mono', monospace;
  --fonteFraunces: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cabecalho{
  font-family: var(--fonteJet);
  background: var(--amarelo);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
body{
  font-family: var(--fonteFraunces);
  font-size: 18px;
}
/*
.menu{
  width: 100px;
  height: 100px;
  border: 2px solid var(--roxo);
  border-radius: 10px;
  padding: 5px;
  order: 1;
  position: fixed;
  top: 133px;
  left: 80%;
}
*/
.cabecalhoLink{  
  color: var(--preto);
  font-weight: bold;
}

.cabecalhoLink:hover{
  color: var(--verde-hover);
}

.conteudoPrincipal{
  max-width: 990px;
  margin: 0 auto;
}

h2{
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  text-decoration: underline;

}
p{
  padding: 10px;
}
.conteinerPadrao{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codJs{
  width: 600px;
  min-height: 100px;
  border-radius: 10px;
  background: var(--azulAcinzentado);
  margin-bottom: 20px;
}


.rodape{
  text-align: center;
  background-color: var(--preto);
  color: var(--branco);
  padding: 30px 0;
}

.rodape a{
  color: var(--branco);
}

.rodape a:hover{
  color: var(--azulAcinzentado);
}